.weather_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  .push_message__no_gps {
    background-color: black;
    animation: 5s push_message__no_gps;
  }

  @keyframes push_message__no_gps {
    0% {
      top: -100px;
    }
    40% {
      top: 150px;
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 200px;
    }
  }



  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__temperature {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 65%;
    font-size: 1em;
  
  
    &__mmm {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      &__item {
        display: flex;
        flex-direction: column;
        justify-items: center;
      }
    }

    &__middle {
      font-size: 4em;
    }
  }

  &__picture_weather {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    position: relative;
    width: 35%;
    height: 100%;


    &__contain {
      width: 170px;
      height: 170px;
      box-shadow: black 0px 0px 10px -3px;
      border-radius: 10% 10%;
      overflow: hidden;
    }
  }

  &__name_station {
    display: inline-block;
    padding: 10px;
    font-size: 0.8em;
    margin: 10px;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.238);
    text-align: center;
  }

  .day_and_evening {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
}


.day {
  width: 100%;
  display: flex;
  position: relative;
  top: 30px;
  padding-top: 180px;
  margin-bottom: 50px;


  &__item {
    height: 150px;
    min-width: 159px;
    display: flex;
    justify-content: center;


    span {
      width: 100%;
      height: 100%;
    }

    .wind-zero {
      background-color: rgba(0, 0, 0, 0.462)
    }

    .wind-one {
      background-color: rgba(0, 0, 0, 0.297)
    }

    .wind-two {
      background-color: rgba(0, 0, 0, 0.255)
    }

    .wind-three {
      background-color: rgba(0, 0, 0, 0.138)
    }

    .wind-three {
      background-color: rgba(0, 0, 0, 0)
    }

    .rain-active {
      background-color: rgba(255, 255, 0, 0.39);
    }

    .rain-notActive {
      background-color: rgba(255, 255, 0, 0);
    }

    .clouds-zero {
      background-color: rgba(0, 0, 255, 0);
    }

    .clouds-one {
      background-color: rgba(41, 41, 205, 0.347);
    }

    .clouds-two {
      background-color: rgba(69, 69, 184, 0.347);
    }

    .clouds-three {
      background-color: rgba(0, 0, 255, 0.347);
    }
  }



  // &::-webkit-scrollbar {
  //   width: 16px;
  //   border-radius: 9px;
  //   background-color: #608bae4f;
  //   height: 11px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #608BAE;
  //   border-radius: 9em;
  // }
  
  // &::-webkit-scrollbar-thumb:hover {
  //   background-color: #608bae78;
  // }

}







@media only screen and (max-width: 800px)  {
  .weather_main {

    &__top {
      padding: 50px 0;
      border-bottom: 2px solid #0000004f;
    }

    &__temperature {
      width: 50%;
    }

    &__picture_weather {
      width: 50%;
    }

    .push_message__no_gps {
      width: 90%;
    }
  }
}







@media only screen and (max-width: 480px)  {
  .weather_main {

    &__top {
      flex-direction: column-reverse;

      border-bottom: 2px solid #0000004f;
    }

    &__picture_weather {
      margin-bottom: 22px;


      &__contain {
        width: 220px;
        height: 220px;
      }
    }
  }
}