.weather_main__picture_weather {
  // display: flex;
  // position: relative;
  // width: 35%;
  // height: 100%;
  // align-items: flex-end;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .wind-zero {
    background-color: rgba(0, 0, 0, 0.462)
  }

  .wind-one {
    background-color: rgba(0, 0, 0, 0.297)
  }

  .wind-two {
    background-color: rgba(0, 0, 0, 0.255)
  }

  .wind-three {
    background-color: rgba(0, 0, 0, 0.138)
  }

  .wind-three {
    background-color: rgba(0, 0, 0, 0)
  }

  .rain-active {
    background-color: rgba(255, 255, 0, 0.39);
  }

  .rain-notActive {
    background-color: rgba(255, 255, 0, 0);
  }

  .clouds-zero {
    background-color: rgba(0, 0, 255, 0);
  }

  .clouds-one {
    background-color: rgba(41, 41, 205, 0.347);
  }

  .clouds-two {
    background-color: rgba(69, 69, 184, 0.347);
  }

  .clouds-three {
    background-color: rgba(0, 0, 255, 0.347);
  }
}