
.navTabs {

  display: flex;
  justify-content: space-around;  
  width: 100%;
  position: relative;

  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    text-decoration-line: none;
    white-space: nowrap;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 20px 0 15px 0;

    &:hover {
      color: #2dd05b;
    }
  }

  .flag {
    position: absolute;
    width: 75px;
    height: 6px;
    left: 150px;
    bottom: 0px;

    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;

    // transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
  }  
  
}



@media only screen and (max-width: 820px)  {
  .navTabs {
    order: 3;
  }
}