body {
  // background: #c5c1dd;

  background: #a08685;
  background: #e2cdc2;
  background: #babec5;
  background: #8cacc5;
  background: #eeebe7;
  background: #322e36;
  position: relative;
  color: white;
}

#root {
  display: flex;
}

.App {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

// #322e36
// #a08685
// #e2cdc2
// #babec5
// #8cacc5

// #eeebe7