.registration {
  width: 35%;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  button {
    display: block;
    width: 280px;
    border-radius: 7px;
    margin: 0;
    color: rgb(178 177 179);
    background-color: rgb(85 81 88);
    height: 44%;
    border: none;

    &:hover {
      background-color: rgb(97 92 101);
    }
  }
}



@media only screen and (max-width: 800px)  {
  .registration {
    width: 100%;
    flex-direction: initial;
    justify-content: space-between;
    order: 1;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
      width: 48%;
      height: 50px;
    }
  }
}